<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Info</title>
</head>
<body>
User ID: {{ user.user_id }}<br>
Login: {{ user.login }}<br>
Birth Date: {{ user.birth_date }}<br>
Phone: {{ user.phone }}<br>
Funds: {{ user.funds }}<br>
<form action="/user_{{ user.user_id }}/funds" method="GET">
        <button type="submit">Funds</button><br>
    </form>
<form action="/user_{{ user.user_id }}/reservations" method="GET">
        <button type="submit">Reservations</button>
    </form>
<form action="/user_{{ user.user_id }}/profile_edit" method="GET">
        <button type="submit">Profile Edit</button>
    </form>
</body>
</html>